<div class="container">

    <div class="content mt-3 index-div">
        <h3>Welcome to the NHL news scraper!</h3>
        <p>Click the button below to recieve headlines and links to the latest NHL news</p>
        <a href="/scrape"><button type="button" class="btn btn-success mt-2 mb-5 home-scrape">Scrape New Articles!</button></a>
    </div>
  
</div>
